{% extends 'admin/_index_admin.html.twig' %}
{% set menu_user = true %}
{% block content %}
    <div class="card">
        <div class="d-block w-100 text-right">
            <a href="{{ path('manage_user') }}" class="btn btn-sm btn-primary m-2">Hampiditra olona
                <i class="ti-plus"></i>
            </a>
        </div>
        <div class="card-body">
            <ul class="list-group mt-2">
                {% for user in users %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">{{ user.firstName ~' ' ~ user.lastName }}</div>
                            <div class="col-md-3">{{ user.adresse }}</div>
                            <div class="col-md-3">{{ user.contact }}</div>
                            <div class="col-md-3">
                                <a class="btn btn-sm btn-success"
                                   href="{{ path('manage_user',{"id": user.id }) }}">
                                    <span>HANOVA</span>
                                    <i class="ti-pencil"></i>
                                </a>
                                <a class="btn btn-sm btn-secondary"
                                   target="_blank"
                                   href="{{ path('user_qr',{"id": user.id}) }}">
                                    <span>QR CODE</span>
                                    <i class="ti-credit-card"></i>
                                </a>
                                <a class="btn btn-sm btn-danger btn-confirm"
                                   target="_blank"
                                   data-msg="{{ user.firstName }}"
                                   href="{{ path('remove_user',{"id": user.id}) }}">
                                    <span>HAMAFA</span>
                                    <i class="ti-trash"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}
