<h1>Fokontany : {{ user.fokontany? user.fokontany.name : 'Fokontaniko' }}</h1><br>
<ul>
    <li>
        Anarana : {{  user.fullName }}
    </li>
    <br>
    <li>
        Adiresy : {{  user.adresse }}
    </li>
    <br>
    <li>
        Fifandraisana : {{ user.contact }}
    </li>
    <br>
    <li>
        Fahavelomana : {{ user.isAlive }}
    </li>
    <br>
    <li>
        Kara-panondro : {{ user.cin }}
    </li>
</ul>
