{% extends 'admin/_index_admin.html.twig' %}

{% set menu_user = true %}
{% block content %}
    <div class="row col-md-12 justify-content-center">
        <div class="card col-md-6">
            <div class="card-header">
                <h1>Hampiditra mpiasa</h1>
            </div>
            <div class="card-body">
                <div class="">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.firstName) }}
                            {{ form_row(form.lastName) }}
                            {{ form_row(form.adresse) }}
                            {{ form_row(form.contact) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.cin) }}
                            {{ form_row(form.userName) }}
                            {{ form_row(form.password,{"attr":{"minlength":8}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{{ path('list_user') }}" type="button" class="btn btn-outline-danger d-block w-100">Hiala</a>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-outline-primary d-block w-100">Ampidirina</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
