{% extends 'admin/_index_admin.html.twig' %}

{% set menu_fokontany = true %}

{% block content %}
    <div class="row col-md-12 justify-content-center">
        <div class="card col-md-6">
            <div class="text-center">
                <h2>Mpiandraikitra ny fokontany {{ fokontany.name }}</h2>
                <a href="{{ path('manage_user',{'type':'admin'}) }}" class="btn btn-sm m-2 btn-primary">Hampiditra mpiandraikitra
                    <i class="ti-plus"></i></a>
            </div>
            <div class="card-body">
                <div class="">
                    <form action="{{ path('fokontany_responsable', {'id': fokontany.id}) }}" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="mpiandraikitra">Ampidiro ny anarana</label>
                                    <select data-url="{{ path('ajax_admin') }}" id="mpiandraikitra"  name="username" class="username-data form-control"> </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="{{ path('fokontany_list') }}" type="button"
                                   class="btn btn-outline-danger d-block w-100">Hiala</a>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-outline-primary d-block w-100">Ampidirina</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
