<h1>Fokontany : {{ employe.user.fokontany? employe.user.fokontany.name : 'Fokontaniko' }}</h1><br>
<ul>
    <li>
        Anarana : {{ employe.user.fullName }}
    </li>
    <br>
    <li>
        Adiresy : {{ employe.user.adresse }}
    </li>
    <br>
    <li>
        Andraikitra : {{ employe.post }}
    </li>
    <br>
    <li>
        Fifandraisana : {{ employe.user.contact }}
    </li>
    <br>
    <li>
        Karapanondro : {{ employe.user.cin }}
    </li>
</ul>
