{% extends 'admin/_index_admin.html.twig' %}
{% set menu_employe = true %}
{% block content %}
    <div class="card">
        <div class="d-block w-100 text-right">
            <a href="{{ path('employee_manage') }}" class="btn btn-sm btn-primary m-2">
                <span>Hampiditra mpiasa</span>
                <i class="ti-plus"></i>
            </a>
        </div>
        <div class="card-body">
            <ul class="list-group mt-2">
                {% for employe in employes %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">{{ employe.user ? employe.user.fullname : '' }}</div>
                            <div class="col-md-3">{{ employe.user ? employe.user.adresse : '' }}</div>
                            <div class="col-md-3">{{ employe.user ? employe.user.contact : ''}}</div>
                            <div class="col-md-3">
                                <a class="btn btn-success btn-sm"
                                   href="{{ path('employee_manage',{"id": employe.id|urlencrypt}) }}">
                                    <span>HANOVA</span>
                                    <i class="ti-pencil"></i>
                                </a>
                                <a class="btn btn-secondary btn-sm"
                                   target="_blank"
                                   href="{{ path('generate_qr_employee',{"id": employe.id }) }}">
                                    <span>QR CODE</span>
                                    <i class="ti-credit-card"></i>
                                </a>
                                <a class="btn btn-sm btn-danger btn-confirm"
                                   target="_blank"
                                   href="{{ path('remove_employee',{"id": employe.id}) }}">
                                    <span>HAMAFA</span>
                                    <i class="ti-trash"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {{ knp_pagination_render(employes) }}
        </div>
    </div>
{% endblock %}
