{% extends 'admin/_index_admin.html.twig' %}
{% set menu_adidy = true %}
{% block content %}
    <div class="card">
        <div class="d-block w-100 text-right">
            <a href="{{ path('manage_adidy',{'mponina' : user.id}) }}" class="btn btn-sm m-2 btn-primary">
                Handoa adidy
                <i class="ti-plus"></i></a>
        </div>
        <div class="card-body">
            <ul class="list-group mt-2">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">Karazany</div>
                        <div class="col-md-3">Vola naloha</div>
                        <div class="col-md-3">Daty</div>
                        <div class="col-md-3">Kirakira</div>
                    </div>
                </li>
                {% for adidy in adidys %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">{{ adidy.type }}</div>
                            <div class="col-md-3">{{ adidy.amount }}</div>
                            <div class="col-md-3">{{ adidy.createdAt|date('Y-m-d H:i') }}</div>
                            <div class="col-md-3">
                                <a class="btn btn-sm btn-success"
                                   href="{{ path('manage_adidy',{"mponina": adidy.user.id,"adidy" : adidy.id}) }}">
                                    <span>Hanova</span>
                                    <i class="ti-pencil"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {{ knp_pagination_render(adidys) }}
        </div>
    </div>
{% endblock %}
