{% extends 'admin/_index_admin.html.twig' %}

{% set menu_mponina = true %}
{% block content %}
    <div class="row col-md-12 justify-content-center">
        <div class="card col-md-6">
            <div class="card-header">
                <h1 class="text-center">Hikirakira mponina</h1>
            </div>
            <div class="card-body">
                <div class="">
                    {{ form_start(form) }}
                    <div class="row m-auto">
                        <div class="col-md-12 row">
                            <div class="col-md-6">
                                {{ form_row(form.type) }}
                                {{ form_row(form.firstName) }}
                                {{ form_row(form.lastName) }}
                                {{ form_row(form.function) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.cin) }}
                                {{ form_row(form.adresse) }}
                                {{ form_row(form.dad) }}
                                {{ form_row(form.mum) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            {{ form_row(form.note) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{{ path('mponina_list') }}" type="button" class="btn btn-outline-danger d-block w-100">Hiala</a>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-outline-primary d-block w-100">Ampidirina</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
