{% extends 'admin/_index_admin.html.twig' %}
{% set menu_mponina = true %}
{% set search_input = true %}
{% block content %}
    <div class="card">
        <div class="d-block w-100 text-right">
            <a href="{{ path('manage_mponina') }}" class="btn btn-sm m-2 btn-primary">Hampiditra olona vaovao
                <i class="ti-plus"></i></a>
        </div>
        <div class="card-body">
            <ul class="list-group mt-2">
                <li class="row">
                    <div class="col-md-3">Anarana</div>
                    <div class="col-md-3">Fanampiny</div>
                    <div class="col-md-2">Adiresy</div>
                    <div class="col-md-2">Fifandraisana</div>
                    <div class="col-md-2">Kirakira</div>
                </li>
                {% for mponina in mponinas %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">{{ mponina.firstName }}</div>
                            <div class="col-md-2">{{ mponina.lastName }}</div>
                            <div class="col-md-2">{{ mponina.adresse }}</div>
                            <div class="col-md-2">{{ mponina.contact }}</div>
                            <div class="col-md-3 text-center d-block row">
                                <a class="btn btn-sm btn-success"
                                   href="{{ path('manage_mponina',{"id": mponina.id}) }}">
                                    <span>Hanova</span>
                                    <i class="ti-pencil"></i>
                                </a>
                                <a class="btn btn-sm btn-secondary"
                                   target="_blank"
                                   href="{{ path('generate_qr_mponina',{"id": mponina.id}) }}">
                                    <span>Karatra</span>
                                    <i class="ti-credit-card"></i>
                                </a>
                                <a class="btn btn-sm btn-danger btn-confirm"
                                   data-msg="{{ mponina.lastname }}"
                                   href="{{ path('remove_mponina',{"id":mponina.id}) }}">
                                    <span>Hamafa</span>
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {{ knp_pagination_render(mponinas) }}
        </div>
    </div>
{% endblock %}
