<h1>Fokontany : {{ mponina.fokontany? mponina.fokontany.name : 'Fokontaniko' }}</h1><br>
<ul>
    <li>
        Anarana : {{ mponina.fullName }}
    </li>
    <br>
    <li>
        Adiresy : {{ mponina.adresse }}
    </li>
    <br>
    <li>
        Kaody : {{ mponina.id }}
    </li>
    <br>
    <li>
        Fifandraisana : {{ mponina.contact }}
    </li>
    <br>
    <li>
        Karapanondro : {{ mponina.cin }}
    </li>
</ul>
