<h1>Fokontany : {{ mponina.fokontany ? mponina.fokontany.name : 'Fokontaniko' }} || {{ mponina.fokontany.codeFkt }}</h1><br>
<ul>
    <li>
        Anarana : {{ mponina.fullName }}
    </li>
    <br>
    <li>
        Lahy / Vavy : {{ constant('\\App\\Constant\\GlobalConstant::GENRE')[mponina.genres] }}
    </li>
    <br>
    <li>
        Adiresy : {{ mponina.adresse }}
    </li>
    <br>
    <li>
        Kaody : {{ mponina.id }}
    </li>
    <br>
    <li>
        Fifandraisana : {{ mponina.contact }}
    </li>
    <br>
    <li>
        Karapanondro : {{ mponina.cin }}
    </li>
</ul>
